/* 
seletor {
    propriedade: valor;
}
*/

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, arial;
}

img{
    width: 100px;
    height: 100px;
}

header{
    height: 100px;
    padding: 10px;
    background-color: #35b8b0;
    background-image: -moz-linear-gradient(#00a355,#7ad946);
    background-image: -webkit-linear-gradient(#00a355,#7ad946);
}

#principal{
    background-image: url('music.jpg');
    background-size: 100%;
    min-height: 400px;
    padding: 100px 0px 0px 0px;
    clear: both;
}

#logo{
    float: left;
}

#menu{
    float: right;
    margin-top: 40px;
}

#menu a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 20px;
}

#menu a:hover{
    background-color: green;
    border-radius: 10px 30px;
    /*-webkit-transition: 1s;*/
}

footer{
    clear:both;
    background-color: #35b8b0;
    min-height: 50px;
    text-align: center;
    padding: 10px;
    background-image: -moz-linear-gradient(#00a355,#7ad946);
    background-image: -webkit-linear-gradient(#00a355,#7ad946);
}

footer p {
    color: black;
    text-shadow: 0;

}

.container{
    width: 960px;
    margin: auto;
}

.efeito{
    background-color: rgba(0,0,0,0.5);
    padding: 30px 0 30px 0;
}

p{
    color: white;
}

h1 {
    color: #32cd32;
    text-shadow: 3px 1px 1px #111111;
    font-family: Helvetica, Arial;
    text-align: center;
    margin: 0 0 50px 0;
}
